body {
    background-image: url(achtergrond.jpg);
    background-size: cover;

}

.container {
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 5px;
    border-radius: 5px;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 20px;
}

.screens {
    padding: 10px;
}

.stelling {
    font-size: 30px;
}

.stellingeind {
    background-color:#293133;
    color: white;
    margin-left: 25%;
    max-width: 50%;
}